{
  "extends": "dherault",
  "rules": {
    "no-mixed-operators": 0,
    "import/no-dynamic-require": 0,
    "import/no-extraneous-dependencies": 0,
    "jsx-a11y/label-has-associated-control": 0,
    "jsx-a11y/label-has-for": 0,
    "react/destructuring-assignment": 0
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  }
}
